* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
}
html,body{
    height: 100%;
}
body {
    position: relative;
    min-width: 1080px;
    min-height: 100%;
    font-size: 16px;
    font-family: Arial, 'Microsoft YaHei', SimHei;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.clearfix:after {
    display: block;
    content: "\200B";
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*header*/
.header{
    position: absolute;
    height: 121px;
    width: 100%;
    top: 0;
    background-color: #fff;
}
.header>.container>* {
    float: left;
}

.header .header-logo {
    margin: 18px 0 31px 65px;
    width: 97px;
    height: 72px;
}

.header .header-logo img {
    width: 100%;
    height: 100%;
}

.header .nav-bar {
    margin-left: 68px;
    margin-top: 40px;
    font-size: 0;
}

.header .nav-bar>li {
    float: left;
    width: 60px;
    margin-right: 55px;
    text-align: center;
}

.header .nav-bar>li:last-child {
    margin-right: 0;
}

.header .nav-bar>li a {
    display: block;
    padding-bottom: 12px;
    border-bottom: 1px solid transparent;
}

.header .nav-bar>li a:hover,
.header .nav-bar>li.active a {
    border-color: #4e92a5;
}
/*body*/
.body{
    min-height: 100%;
    padding-top: 121px;
    padding-bottom: 102px;
	/* margin-bottom: 174px; */
}

/*footer*/

.footer {
    background-color: #000;
    margin-top: -102px;
    padding: 38px 0 44px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.footer .footer-margin {
    padding-right: 20px;
}


/*banners*/

.banners {
    position: relative;
    height: 563px;
    text-align: center;
    min-width: 1080px;
    overflow: hidden;
}

.banners .banner-item {
    position: absolute;
    left:  100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banners .banner-item:first-child{
    left: 0;
}
.banners .banner-item img {
    position: absolute;
    left: 50%;
    width: 1920px;
    height: 100%;
    margin-left: -960px;
}

.banners .banner-btns {
    position: absolute;
    left: 0;
    right: 0;
    height: 11px;
    top: 523px;
    text-align: center;
}

.banners .banner-btns .banner-btn.current {
    background-color: rgba(119, 159, 175, .6)
}

.banners .banner-btns .banner-btn {
    display: inline-block;
    width: 43px;
    height: 11px;
    border-radius: 5px;
    margin: 0 21px;
    background-color: rgba(58, 86, 96, .6)
}


/*首页*/

.index {
    padding: 48px 15px 104px;
}

.index>* {
    float: left;
    font-size: 0;
    line-height: 0;
}

.index .index-poem {
    margin: 40px 0 0 150px;
}


/*mv*/

.bg-color {
    background-color: #ddf0f2;
    overflow: hidden;
}

.mv {
    margin: 30px 0 80px;
    padding: 32px 40px 35px;
    background-color: #fff;
}

.list-header {
    padding: 0 18px 10px 17px;
    border-bottom: 1px solid #75b9cc;
}

.list-header .list-text {
    font-family: "微软雅黑";
    color: #000;
    font-size: 20px;
    line-height: 20px;
}
.list-header .list-text-color{
	padding-left: 40px;
	color: #4f91a5;
}

.list-header .list-sort {
    cursor: pointer;
    float: right;
    color: #656565;
    font-size: 14px;
}

.mv-list {
    padding-top: 28px;
}

.mv-item {
    float: left;
    width: 196px;
    margin: 0 20px 35px;
}

.mv-item .mv-thumb {
    font-size: 0;
    line-height: 0;
}

.mv-item .mv-thumb img {
    width: 196px;
    height: 146px;
}

.mv-item .mv-title {
    height: 40px;
    margin: 6px 4px 10px;
}

.mv-item .mv-title a {
    font-size: 14px;
    color: #000;
    line-height: 20px;
}

.mv-item .mv-info,
.poem-item .poem-info{
    padding: 0 10px;
    font-size: 12px;
    color: #b2b2b2;
}

.mv-item .mv-info .mv-watching,
.poem-item .poem-info .poem-watching{
    position: relative;
    padding-left: 28px;
}

.mv-item .mv-info .icon,
.poem-item .poem-info .icon{
    position: absolute;
    left: 0;
    width: 20px;
    height: 13px;
    background: url("../images/watching-icon.png") no-repeat;
}

.mv-item .mv-info .mv-time,
.poem-item .poem-info .poem-time{
    float: right;
}


/*音乐*/

.one-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.music {
    margin: 30px 0 80px;
    padding: 32px 40px 35px;
    background-color: #fff;
}

.music-list {
    margin-top: 12px;
}

.music-list table {
    width: 100%;
    border-collapse: collapse;
}

.music-list table tbody tr:nth-child(odd),
.music-list table tbody tr.odd {
    background-color: #f0f9f9;
}

.music-list table tbody tr:hover {
    background-color: #c8e3eb !important;
}

.music-list table tbody td {
    padding: 15px 15px;

    vertical-align: middle;
}

.music-order {
    font-size: 16px;
    color: #656565;
    padding: 0 15px;
    width: 60px;
    text-align: center;
}

.music-title {
    width: 300px;
    font-size: 16px;
    color: #000;
}

.music-action {
    width: 240px;
    text-align: center;
}

.music-action span {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url("../images/play.png") no-repeat;
}

.music-counts {
    width: 240px;
    color: #656565;
    font-size: 14px;
    text-align: center;
}

.music-counts span {
    position: relative;
    padding-left: 28px;
}

.music-counts .icon {
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 13px;
    background: url("../images/watching-icon.png") no-repeat;
}

.music-time {
    color: #656565;
    font-size: 14px;
    text-align: center;
}

.music-players {
    position: fixed;
    /* bottom: -50px; */
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 10002;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.music-players .music-hand {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
}

.music-players .music-container{
    height: 50px;
    background-color: #fff;
}

/*画作*/
.planting{
	margin: 30px 0 70px;
	padding: 28px 20px 50px;
	background-color: #fff;
}
.planting-item{
	position: relative;
	float: left;
	padding: 5px;
    width: 220px;
    height: 128px;
    margin: 0 13px 25px;
	font-size: 0;
	line-height: 0;
	box-shadow: 0px 0px 10px 3px #bbb;
}
.planting-item img{
    width: 100%;
    height: auto;
}
.planting-title{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 40px;
	font-size: 16px;
	color: #656565;
	background: url("../images/title-mask.png") repeat-x;
}
.planting-title span{
	position: absolute;
	right: 8px;
	top: 25px;
}

/*诗歌*/
.poem{
	margin: 30px 0 80px;
    padding: 32px 40px 35px;
    background-color: #fff;
}
.poem-list{
	padding: 20px 8px 15px;
}
.poem-list .poem-item{
	height: 70px;
	padding: 15px 15px 25px;
	margin-bottom: 15px;
	background-color: #f4f4f4;
}
.poem-item .poem-title{
	/* max-width: 650px; */
}
.poem-item .poem-title a{
	display: block;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}
.poem-item .poem-title a:hover{
	color: #4f91a5;
}
.poem-item .poem-info{
	text-align: right;
}
.poem-item .poem-info .poem-time{
	padding-left: 40px;
}
/*文章*/
.article{
	padding: 20px 15px 30px;
}
.article .article-title{
	margin-top: 15px;
	font-size: 30px;
	color: #656565;
}
.article .article-content{
	color: #656565;
	line-height: 1.5;
	font-size: 20px;
	margin-top: 50px;
}
.article .article-content p{
	text-align: justify;
	text-justify: inter-ideograph;
	text-indent: 2em;
	margin-bottom: 30px;
}
.article .article-content .center{
	text-align: center;
}
.article .article-content ul,
.article .article-content ol{
	margin-bottom: 20px;
}
.article .article-content li{
	margin-bottom: 10px;
}
/*mv播放*/
.play{
	padding: 40px 0 70px;
}
.play-content{
	margin-top: 15px;
}
.player{
	float: left;
	width: 734px;
	height: 490px;
	background-color: #fff;
}
.play-list{
	margin-left: 754px;
	padding: 22px 15px 15px 10px;
	width: 270px;
	height: 490px;
	background-color: #fff;
}
.play-list .play-item{
	margin-bottom: 12px;
}
.play-item .play-thumb{
	float: left;
	font-size: 0;
	line-height: 0;
}
.play-item .play-thumb img{
	width: 109px;
	height: 82px;
}
.play-item .play-info{
	height: 82px;
	position: relative;
	margin-left: 119px;
}
.play-item .play-info .play-title a{
	color: #000;
	font-size: 14px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.play-item .play-info .play-counts{
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	color: #656565;
}
.my-icon{
	position: relative;
	padding-left: 28px;
}
.my-icon .icon{
	position: absolute;
	left: 0;
	width: 20px;
	height: 13px;
	background: url("../images/watching-icon.png") no-repeat;
}




